a:hover{
  color: var(--pink);
}

.main{
  flex: 0.8;
  width: 100%;
  
}

.routes{
  padding: 20px;
}

.site-name-container h1{
  color:white;
  font-weight: 200;
  font-size: x-large;
}

.logo-container{
  background-color: #3f6e9b;
  display: flex;
  padding: 10px;
  align-items: center;
  width: 100%;
}
.logo{
  margin:0 0 0 15px;
}
.logo a{
 color: white;
}

.cryptodash-container h1{
  color: white;
  background: white;
}

.coin-list-wrapper{
  margin-top: 30px;
  padding-top: 10px;
}

.percentage-loss{
  color: red;
}

.percentage-gain{
  color: green;
}

.each-coin-row:hover{
  color: grey;
}

.td-wrapper{
  padding: 40px;
}

.tr-wrapper{
  padding: 20px;
}

.th-wrapper{
  width: 400px;
  text-align: left;
}

table{
  table-layout: fixed;
}

.form-wrapper{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.input-box-wrapper{
  margin-bottom: 30px;
}

.calculate-box-wrapper{
  float: left;
}

.buy-price-wrapper-left{
  margin-right: 40px;
}

.buy-price-wrapper-right{
  margin-left: 40px;
  text-align: right; 
}

.trash-can{
  margin-left: 100px;
}