a:hover{
  color: var(--pink);
}

.main{
  flex: 0.8;
  width: 100%;
  
}

.routes{
  padding: 20px;
}

.site-name-container h1{
  color:white;
  font-weight: 200;
  font-size: x-large;
}

.logo-container{
  background-color: #3f6e9b;
  display: flex;
  padding: 10px;
  align-items: center;
  width: 100%;
}
.logo{
  margin:0 0 0 15px;
}
.logo a{
 color: white;
}

.cryptodash-container h1{
  color: white;
  background: white;
}

.coin-list-wrapper{
  margin-top: 30px;
  padding-top: 10px;
}

.percentage-loss{
  color: red;
}

.percentage-gain{
  color: green;
}

.each-coin-row:hover{
  color: grey;
}

.news-wrapper{
  padding: 20px;
}

.tr-wrapper{
  padding: 20px;
}